# Ignore a single file
# /path/to/file.txt

# Ignore a directory and all its contents
/screenshots/
/test-output/

# Ignore all .png files
*.png
*.xml
*.html
# Ignore specific file types in a directory
# /target/
/target/
